<h1>Listado de temas  a seleccionar</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Titulo</th>
      <th colspan="1"></th>
      <th>Favor</th>
      <th>Contra</th>
    </tr>
  </thead>

  <tbody>
    <% @temas.each do |tema| %>
      <tr>
        <% if tema['active'] || admin? %>
          <td><%= link_to tema['titulo'], tema_path(tema['id']) %></td>
          <td><%= pluralize(tema['votos'], "voto") %></td>
          <td><%= tema['favor'] %></td>
          <td><%= tema['contra'] %></td>
          <% if Vote.where(tema_id: tema['id'], user_id: current_user.id).blank? %>
            <td>
            <%= button_to '+1', upvote_tema_path(tema['id']), class: "btn btn-success btn-xs", method: :post %></td>
            <td>
            <%= button_to '-1', downvote_tema_path(tema['id']), class: "btn btn-danger btn-xs", method: :post %></td>
          <% end %>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Proponer nuevo tema', new_tema_path, class: "btn btn-success btn-sm" %>
<%= link_to 'Regresar Pagina Principal', root_path, class: "btn btn-info btn-sm" %>
